*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#results{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
#results img{
    height:70vh;
    width: 290px;
}
#search form{
    text-align: center;
}
#wrapper header{
    text-align: center;
}